<h1>{{title}}</h1>

<div class="constrain">
	<div class="accordion" data-component="accordion">
		<div class="accordion__header" data-button>Accordion Title</div>
		<div class="accordion__container">
			<div class="accordion__content" data-content>Accordion Content</div>
		</div>
	</div>

	<div class="accordion margin-top-lg" data-component="accordion" data-group="group">
		<div class="accordion__header" data-button>Accordion Title 2</div>
		<div class="accordion__container">
			<div class="accordion__content" data-content>Accordion Content 2</div>
		</div>
	</div>

	<div class="accordion margin-top-lg" data-component="accordion" data-group="group">
		<div class="accordion__header" data-button>Accordion Title 3</div>
		<div class="accordion__container">
			<div class="accordion__content" data-content>Accordion Content 3</div>
		</div>
	</div>

	<div class="accordion margin-top-lg" data-component="accordion" data-group="group">
		<div class="accordion__header" data-button>Accordion Title 4</div>
		<div class="accordion__container">
			<div class="accordion__content" data-content>Accordion Content 4</div>
		</div>
	</div>
</div>

