<h1>{{title}}</h1>

<div class="constrain padding-md">
	<div data-component="content-area" id="test">
		<h2>Page 2</h2>
		<p>Sunt quasi est, error temporibus quam impedit aperiam saepe quis labore eius. Quod quia, repudiandae labore magnam facere fugit repellendus omnis consequuntur saepe tempora, ad, esse pariatur eveniet hic nostrum.</p>
		<p>Maxime esse sed culpa recusandae odio ad deserunt velit aliquid, accusantium expedita rerum vitae nobis consequuntur sint dolorem, voluptas molestiae totam veritatis, harum, voluptatum placeat ut. Laborum voluptates, corrupti asperiores!</p>
		<p>Modi numquam praesentium molestias libero fugiat nemo minus ullam recusandae adipisci eos fugit veritatis, ipsa, cupiditate reprehenderit, aliquam dolore? Porro saepe voluptatum, quia corporis nulla delectus, suscipit magnam praesentium perspiciatis.</p>
		<p>Alias sed illum iure blanditiis laborum consequatur vitae voluptatem assumenda, fugiat odio cupiditate asperiores modi repudiandae expedita veritatis, voluptate natus, molestiae, sapiente beatae quae recusandae perferendis fuga rerum. Saepe, molestias.</p>
	</div>

	{{> boilerplate/docs/layout/components/pagination.hbs target="test" page=2}}
</div>