<h1>{{title}}</h1>

<div class="constrain padding-md">
	<div data-component="content-area" id="test">
		<h2>Page 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum fuga quos, magnam omnis natus culpa nobis sapiente? Et id fugit omnis nisi incidunt deleniti nulla? Illum velit odit at id.</p>
		<p>Asperiores blanditiis veniam illo ipsam placeat. Quos at placeat adipisci vitae voluptate quidem sint voluptatem esse nemo recusandae fuga veritatis dolorem ab quibusdam possimus mollitia deserunt corporis, eveniet eum aut.</p>
		<p>Ullam ipsum, labore mollitia unde ab blanditiis alias officia molestiae, similique quae facere deserunt consequatur eum tenetur non quidem illum doloremque! Eaque temporibus facere quae excepturi, perspiciatis nisi cum architecto?</p>
		<p>Nihil impedit nisi ullam repellendus neque, beatae praesentium numquam reiciendis soluta doloremque ab ratione minus, consequatur. Amet optio explicabo officiis eveniet earum, numquam necessitatibus quaerat harum, dolorum iusto repellat esse.</p>
	</div>

	{{> boilerplate/docs/layout/components/pagination.hbs target="test" page=1}}
</div>