<h1>{{title}}</h1>

<div class="constrain padding-md">
	<div data-component="content-area" id="test">
		<h2>Page 3</h2>
		<p>Sed ratione eum illo quod tempore pariatur sequi, nulla sunt minima incidunt quibusdam nemo perferendis explicabo eius voluptates, aliquam iusto nesciunt vitae saepe molestiae, totam culpa corrupti! Quam possimus, commodi!</p>
		<p>Nostrum voluptates voluptas sunt vel. Veniam asperiores ullam facilis dolor explicabo quia laborum tempora, totam quis esse harum quaerat reiciendis nisi, rerum cupiditate, natus. Voluptatibus nulla incidunt nihil dolor maiores.</p>
		<p>Quam culpa delectus tempore exercitationem facilis laborum libero cumque quasi. Rem nulla nobis ex, repellat nisi neque libero, quam esse eius facilis dolorem. Sunt suscipit eum, repellat, eligendi placeat sed?</p>
		<p>Rerum dignissimos tempora id fuga, eum ducimus tenetur est cupiditate quidem repellendus enim omnis suscipit, numquam incidunt ipsum nam, excepturi doloremque iusto voluptas velit natus, provident dolor modi rem. Distinctio!</p>
	</div>

	{{> boilerplate/docs/layout/components/pagination.hbs target="test" page=3}}
</div>