<h1>{{title}}</h1>

<div class="constrain padding-md drag-list" data-component="drag-list">
	<div data-item>
		<div data-content>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nisi dolorem alias similique? Placeat voluptatem voluptas, eligendi quaerat saepe nisi quisquam autem magni quibusdam architecto facere esse molestiae quod, natus.</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>Beatae praesentium labore suscipit doloribus. Nam laboriosam, sint exercitationem vel vero qui consequuntur dolor aspernatur, quas similique laborum blanditiis possimus explicabo maxime culpa maiores aliquid nesciunt consequatur. Alias, officia, ad.</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>Nam neque nesciunt doloremque assumenda velit, quasi perspiciatis, illum fuga officia et! Iste eveniet illo aliquid a, tenetur doloribus, odio natus commodi itaque nemo mollitia porro praesentium nihil quasi optio!</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>Tempora placeat ducimus nemo dolore in. Sapiente similique, aperiam aspernatur ipsum eos doloremque possimus ducimus assumenda modi expedita iure natus, incidunt accusamus repudiandae id qui dignissimos. Perspiciatis quam odit, ad.</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>Animi nobis odit pariatur nostrum eaque quis reiciendis placeat accusamus distinctio. Nobis tempora aut quos dicta officiis ut itaque accusantium quis quidem fugit, ipsum expedita voluptatem quaerat eveniet, molestias reprehenderit!</p>
			<p>Animi nobis odit pariatur nostrum eaque quis reiciendis placeat accusamus distinctio. Nobis tempora aut quos dicta officiis ut itaque accusantium quis quidem fugit, ipsum expedita voluptatem quaerat eveniet, molestias reprehenderit!</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>Voluptates, facilis, voluptatibus! Ea inventore nesciunt accusantium officiis quisquam corrupti, sit doloremque, fugit earum cumque doloribus sequi vitae fugiat autem voluptas. Suscipit velit ut magni architecto, doloribus pariatur perferendis beatae.</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>Saepe eum laudantium sunt quidem a harum odio ducimus et amet maxime porro dolor, fugit in quam eos suscipit ea iure commodi, molestiae obcaecati. Quod maiores distinctio similique repellat, id.</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>Debitis rem autem atque asperiores, optio rerum tenetur, hic dolor eveniet praesentium enim id eaque dolorum sed voluptatum assumenda et! Cum natus recusandae blanditiis expedita sequi sit eaque assumenda voluptatum.</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>Aut natus voluptate, totam ipsa tempore. Maxime, omnis, ex. Optio at incidunt ex, quos dolores magni odio, distinctio laudantium sunt accusamus accusantium laborum dicta assumenda porro itaque repellendus molestias error.</p>
		</div>
	</div>
	<div data-item>
		<div data-content>
			<p>At debitis, velit. Quam assumenda sequi sapiente ipsam nisi dolores, natus! Officia provident laborum, ipsam doloremque qui ab facilis laudantium, inventore temporibus repellat cumque quidem nam molestiae velit sint esse!</p>
		</div>
	</div>
</div>

