<div class="margin-lg pd-xl">
	<div class="bg-pink cl-white inline-block" data-component="dropdown-menu">
		<div class="bg-blue cl-white" data-item="A">Item A</div>
		<div class="bg-blue cl-white" data-item="B">Item B</div>
		<div class="bg-blue cl-white" data-item="C">Item C</div>
		<div class="bg-blue cl-white" data-item="D">Item D</div>
		<div class="bg-blue cl-white" data-item="E">Item E</div>
		<div class="bg-blue cl-white" data-item="F">Item F</div>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam officiis tenetur numquam optio deleniti saepe aperiam voluptate voluptatibus accusamus cumque molestiae nisi quaerat blanditiis ad, quos voluptatum autem ducimus similique.</p>
	<p>Iusto nulla reiciendis cum accusamus nostrum maxime est necessitatibus pariatur laborum corporis, veritatis voluptatem laboriosam aspernatur illum tempore fuga dignissimos voluptate, modi, consequuntur expedita iste. Veritatis reprehenderit earum, itaque obcaecati!</p>
	<p>Error repudiandae itaque, porro voluptas, perferendis praesentium sint nesciunt iste placeat ipsam unde debitis atque, deleniti tempora molestiae, eos cupiditate maiores fuga aperiam ad voluptatibus nobis commodi dolores omnis. Dolore.</p>
	<p>Dolore neque aliquam harum, laudantium facilis vitae distinctio? Cumque voluptatem aperiam cupiditate ea, deleniti inventore aliquam quia mollitia, neque explicabo? Voluptates adipisci quaerat voluptas omnis exercitationem, iusto aliquam pariatur nobis.</p>
	<h2>Section title</h2>
	<p>Repellendus voluptatibus doloribus libero ad, vero praesentium sit numquam, commodi vitae ullam, temporibus autem ipsa est amet quisquam laboriosam deserunt facilis. Ex aut, dolorem quos fuga commodi blanditiis rerum dolorum.</p>
	<p>Voluptates, sequi, saepe? Quod culpa soluta temporibus quas! Laboriosam iste, quae aut accusamus veniam amet aperiam quis. Nemo distinctio, eaque odit pariatur ipsum repudiandae quaerat, placeat nobis earum eligendi deserunt!</p>
	<p>Optio quas quo quasi qui, officia hic! Possimus, reiciendis, qui. Obcaecati nam voluptatibus minus dignissimos omnis molestias facere rem commodi asperiores in. Cumque iure optio ex adipisci facere corporis reiciendis?</p>
	<h2>Section title</h2>
	<p>Recusandae error voluptatibus, ut vel, possimus facere explicabo velit consequuntur officiis? Harum, temporibus doloribus doloremque officia rem quas blanditiis, nihil accusamus error eveniet illum labore quos fugiat. Unde, eligendi, facilis!</p>
	<p>Sint quae, vel assumenda sequi illum unde repellat quos fuga magnam eligendi deserunt similique quidem officiis asperiores soluta nam quia perferendis, iste repellendus praesentium, reprehenderit animi ullam excepturi aliquid itaque!</p>
	<p>Repellat eius expedita minus tempora, quam qui quis maxime, cum numquam quidem pariatur ea in. Veritatis libero, deleniti esse, maiores, harum iste, repellendus non sed cumque mollitia adipisci magni officia.</p>
</div>