<h1>{{title}}</h1>

<form action="" method="" autocomplete="on" data-component="form">
	<div data-component="input">
		<input type="text" name="fullnanme" value="" required data-ref="input" />
	</div>

	<div data-component="input">
		<input type="email" name="email" value="" required data-ref="input" />
	</div>

	<div data-component="date">
		<input type="text" name="day" value="" required data-ref="day" />
		<input type="text" name="month" value="" required data-ref="month" />
		<input type="text" name="year" value="" required data-ref="year" />
	</div>
	
	<div data-component="input">
		<input type="password" name="password" id="password" value="" required data-ref="input" />
	</div>
	
	<div data-component="confirm-password" data-ref="password">
		<input type="password" name="confirmPassword" value="" required data-ref="input" />
	</div>

	<div data-component="input">
		<select name="country" required data-ref="input">
			<option value="a">A</option>
			<option value="b">B</option>
			<option value="c">C</option>
		</select>
	</div>

	<button>Submit</button>
</form>