<style>
	.table {
		white-space: nowrap;
		border: 1px solid black;

	}
	.table th {
		padding: 10px;
		border: 1px solid black;
	}
</style>
<div class="pd-lg">
	<div class="margin-md" data-component="horizontal-scroll">
		<table class="table">
			<thead>
				<tr>
					<th>Column A</th>
					<th>Column B</th>
					<th>Column C</th>
					<th>Column D</th>
					<th>Column E</th>
					<th>Column F</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Row 1 - Column A</th>
					<th>Row 1 - Column B</th>
					<th>Row 1 - Column C</th>
					<th>Row 1 - Column D</th>
					<th>Row 1 - Column E</th>
					<th>Row 1 - Column F</th>
				</tr>
				<tr>
					<th>Row 2 - Column A</th>
					<th>Row 2 - Column B</th>
					<th>Row 2 - Column C</th>
					<th>Row 2 - Column D</th>
					<th>Row 2 - Column E</th>
					<th>Row 2 - Column F</th>
				</tr>
				<tr>
					<th>Row 3 - Column A</th>
					<th>Row 3 - Column B</th>
					<th>Row 3 - Column C</th>
					<th>Row 3 - Column D</th>
					<th>Row 3 - Column E</th>
					<th>Row 3 - Column F</th>
				</tr>
				<tr>
					<th>Row 4 - Column A</th>
					<th>Row 4 - Column B</th>
					<th>Row 4 - Column C</th>
					<th>Row 4 - Column D</th>
					<th>Row 4 - Column E</th>
					<th>Row 4 - Column F</th>
				</tr>
				<tr>
					<th>Row 5 - Column A</th>
					<th>Row 5 - Column B</th>
					<th>Row 5 - Column C</th>
					<th>Row 5 - Column D</th>
					<th>Row 5 - Column E</th>
					<th>Row 5 - Column F</th>
				</tr>
				<tr>
					<th>Row 6 - Column A</th>
					<th>Row 6 - Column B</th>
					<th>Row 6 - Column C</th>
					<th>Row 6 - Column D</th>
					<th>Row 6 - Column E</th>
					<th>Row 6 - Column F</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>