<h1>{{title}}</h1>

<div class="constrain">
	<div class="map"
		 data-component="map"
		 data-center="auto"
		 data-zoom="17"
		 data-markers="[{lat: 51.493382, lng: -0.024164}, {lat: 51.492995, lng: -0.023906}]"
	></div>
</div>

