<div  data-component='docs-scroll-controller'>
	<h1>{{title}}</h1>

	<div class="constrain">
		<div class="grid">
			{{#for 1 12}}
				<div class="cell span-6 span-4--tablet span-3--desktop span-2--wide">
					<div class="bg-pink squared"></div>
				</div>
				<div class="cell span-6 span-4--tablet span-3--desktop span-2--wide">
					<div class="bg-blue squared"></div>
				</div>
			{{/for}}
			<div class="cell span-6 span-4--tablet span-3--desktop span-2--wide">
				<div class="bg-pink squared"></div>
			</div>
			<div class="cell span-6 span-4--tablet span-3--desktop span-2--wide">
				<div class="bg-green squared"></div>
			</div>
			{{#for 1 24}}
				<div class="cell span-6 span-4--tablet span-3--desktop span-2--wide">
					<div class="bg-pink squared"></div>
				</div>
				<div class="cell span-6 span-4--tablet span-3--desktop span-2--wide">
					<div class="bg-blue squared"></div>
				</div>
			{{/for}}
		</div>
	</div>
</div>