<h1>{{title}}</h1>

<div class="constrain">
	<div class="tabs" data-component="tabs" data-active="tab-tab2">
		<div class="tabs__header">
			<a href="#tab-tab1" class="tabs__button" data-button>Tab 1</a>
			<a href="#tab-tab2" class="tabs__button" data-button>Tab 2</a>
			<a href="#tab-tab3" class="tabs__button" data-button>Tab 3</a>
		</div>

		<div id="tab-tab1">Content Tab 1</div>
		<div id="tab-tab2">Content Tab 2</div>
		<div id="tab-tab3">Content Tab 3</div>
	</div>
</div>

