<h1>{{title}}</h1>

<div class="inline-video" data-component="inline-video">
	<video class="inline-video__video" autoplay
	    src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
	    poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217"
	    width="620">
	</video>
	<div class="inline-video__controls">
		<div class="inline-video__play" data-control="play-toggle"></div>
		<div class="inline-video__progress" data-control="progress">
			<div class="inline-video__bar" data-control="progress-bar"></div>
			<div class="inline-video__thumb" data-control="progress-thumb"></div>
		</div>
		<div class="inline-video__time" data-control="time" data-format="HH:MM:SS">
			<span data-control="time-current">00:00:00</span>/<span data-control="time-total">00:00:00</span>
		</div>
		<div class="inline-video__volume" data-control="volume-toggle"></div>
	</div>
</div>