.rich-table {
	display: block;
	position: relative;
	
	&__form {
		// display: none;
	}

	&__header {
		&-row {
			
		}

		&-column {
			
		}

		&-label {
			display: block;
		}

		&-filter {
			display: block;
			position: relative;
			width: 100%;
		}

		&-option {
			display: block;
			float: left;
			padding: 10px;
			width: 100%;

			border-top: 1px solid #ccc;

			&:first-child {
				border-top: none;
			}
		}
	}

	&__body {
		&-row {
			&.is-hidden {
				display: none;
			}
		}
	}
}