.rich-table {
	display: block;
	position: relative;
	
	&__form {
		// display: none;
	}

	&__table {
		display: table;
		width: 100%;
	}

	&__header {
		display: table;
		width: 100%;

		&-row {
			display: flex;
			width: 100%;
		}

		&-col {
			flex-basis: 0;
			flex-grow: 1;
		}

		&-label {
			display: block;
		}

		&-option {
			display: block;
			float: left;
			padding: 10px;
			width: 100%;

			border-top: 1px solid #ccc;

			&:first-child {
				border-top: none;
			}
		}
	}

	&__body {
		width: 100%;
		
		&-row {
			display: flex;
			width: 100%;

			&.is-hidden {
				display: none;
			}
		}

		&-col {
			flex-basis: 0;
			flex-grow: 1;

			padding: 10px;
			border: 1px solid #ccc;
		}
	}
}